*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main .main--containerleft {
  background: url(/images/md-bg.jpg), rgba($color: white, $alpha: 1);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  height: 100vh;
  width: 75%;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem;
    color: white;
  }
  &__btn span {
    width: 5rem;
    height: 0.5rem;
    background: white;
    margin-top: 2rem;
  }
}
